
.DS_Store



intelligent-spriter.sublime-project

intelligent-spriter.sublime-workspace
node_modules/*
ispriter.sublime-project

ispriter.sublime-workspace

test/npm-debug.log

test/sprite.js

test/sprite-config.json
