body {background: #ddd;}
div {min-height: 10px; border: 1px solid #339; margin: 20px; min-width: 10px;}
div:nth-of-type(1) {width: 12px; height: 12px; background: url(../images/sprite_style3.png) -91px -72px;}
div:nth-of-type(2) {width: 48px; height: 48px; background: url(../images/sprite_style3.png) 0 0;}
div:nth-of-type(3) {width: 43px; height: 43px; background: url(../images/sprite_style3.png) -48px 0;}
div:nth-of-type(4) {width: 79px; height: 18px; background: url(../images/sprite_style3.png) -91px -18px;}
div:nth-of-type(5) {width: 15px; height: 15px; background: url(../images/sprite_style3.png) -155px -56px;}
div:nth-of-type(6) {width: 20px; height: 60px; background: url(../images/sprite_style3.png) 0 -86px;}
div:nth-of-type(7) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -111px -36px;}
div:nth-of-type(8) {width: 20px; height: 20px; background: url(../images/sprite_style3.png) -91px -36px;}
div:nth-of-type(9) {width: 79px; height: 18px; background: url(../images/sprite_style3.png) -91px 0;}
div:nth-of-type(10) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -127px -36px;}
div:nth-of-type(11) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -143px -36px;}
div:nth-of-type(12) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -91px -56px;}
div:nth-of-type(13) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -107px -56px;}
div:nth-of-type(14) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -123px -56px;}
div:nth-of-type(15) {width: 16px; height: 16px; background: url(../images/sprite_style3.png) -139px -56px;}
div:nth-of-type(16) {width: 38px; height: 38px; background: url(../images/sprite_style3.png) 0 -48px;}
div:nth-of-type(17) {width: 13px; height: 11px; background: url(../images/sprite_style3.png) -103px -72px;}
