body {background: #ddd;}
div {min-height: 10px; border: 1px solid #339; margin: 20px; min-width: 10px;}
div:nth-of-type(1) {width: 12px; height: 12px; background: url(../images/sprite_style2.png) -308px -48px;}
div:nth-of-type(2) {width: 48px; height: 48px; background: url(../images/sprite_style2.png) -48px -86px;}
div:nth-of-type(3) {width: 43px; height: 43px; background: url(../images/sprite_style2.png) -190px -86px;}
div:nth-of-type(4) {width: 79px; height: 18px; background: url(../images/sprite_style2.png) -119px -48px;}
div:nth-of-type(5) {width: 15px; height: 15px; background: url(../images/sprite_style2.png) -278px -48px;}
div:nth-of-type(11) {width: 16px; height: 16px; background: url(../images/sprite_style2.png) -214px -48px;}
div:nth-of-type(12) {width: 16px; height: 16px; background: url(../images/sprite_style2.png) -230px -48px;}
div:nth-of-type(13) {width: 16px; height: 16px; background: url(../images/sprite_style2.png) -246px -48px;}
div:nth-of-type(14) {width: 16px; height: 16px; background: url(../images/sprite_style2.png) -262px -48px;}
div:nth-of-type(15) {width: 16px; height: 16px; background: url(../images/sprite_style2.png) -198px -48px;}
div:nth-of-type(16) {width: 38px; height: 38px; background: url(../images/sprite_style2.png) -81px -48px;}
div:nth-of-type(17) {width: 13px; height: 11px; background: url(../images/sprite_style2.png) -320px -48px;}
div:nth-of-type(18) {width: 46px; height: 44px; background: url(../images/sprite_style2.png) -144px -86px;}
div:nth-of-type(19) {width: 384px; height: 48px; background: url(../images/sprite_style2.png) 0 0;}
div:nth-of-type(20) {width: 48px; height: 48px; background: url(../images/sprite_style2.png) -96px -86px;}
div:nth-of-type(21) {width: 15px; height: 12px; background: url(../images/sprite_style2.png) -293px -48px;}
div:nth-of-type(22) {width: 81px; height: 38px; background: url(../images/sprite_style2.png) 0 -48px;}
div:nth-of-type(23) {width: 48px; height: 48px; background: url(../images/sprite_style2.png) -96px -86px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style2.png) 0 -86px;}
