body{
    background: #ddd;
}
div{
    min-height: 10px;
    border: 1px solid #339;
    margin: 20px;
    min-width: 10px;
}
div:nth-of-type(1){
    width: 12px;
    height: 12px;
    background: url(../images/add.png);
}
div:nth-of-type(2){
    width: 48px;
    height: 48px;
    background: url(../images/app_icon.png);
}
div:nth-of-type(3){
    width: 43px;
    height: 43px;
    background: url(../images/badge.png);
}
div:nth-of-type(4){
    width: 79px;
    height: 18px;
    background: url(../images/bright-star.png);
}
div:nth-of-type(5){
    width: 15px;
    height: 15px;
    background: url(../images/close2.png);
}
div:nth-of-type(6){
    width: 20px;
    height: 60px;
    background: url(../images/close.png);
}
div:nth-of-type(7){
    width: 16px;
    height: 16px;
    background: url(../images/delete-down.png);
}
div:nth-of-type(8){
    width: 20px;
    height: 20px;
    background: url(../images/friends.png);
}
div:nth-of-type(9){
    width: 79px;
    height: 18px;
    background: url(../images/gray-star.png);
}
div:nth-of-type(10){
    width: 16px;
    height: 16px;
    background: url(../images/level_0.png);
}
div:nth-of-type(11){
    width: 16px;
    height: 16px;
    background: url(../images/level_1.png);
}
div:nth-of-type(12){
    width: 16px;
    height: 16px;
    background: url(../images/level_2.png);
}
div:nth-of-type(13){
    width: 16px;
    height: 16px;
    background: url(../images/level_3.png);
}
div:nth-of-type(14){
    width: 16px;
    height: 16px;
    background: url(../images/level_4.png);
}
div:nth-of-type(15){
    width: 16px;
    height: 16px;
    background: url(../images/level_5.png);
}

div:nth-of-type(16){
    width: 38px;
    height: 38px;
    background: url(../images/info.png);
}
div:nth-of-type(17){
    width: 13px;
    height: 11px;
    background: url(../images/open.png);
}

