body{
    background: #ddd;
}
@media screen{
    div{
        min-height: 10px;
        border: 1px solid #339;
        margin: 20px;
        min-width: 10px;
    }
    div:nth-of-type(1){
        width: 12px;
        height: 12px;
        background: url(../images/add.png);
    }
    div:nth-of-type(2){
        width: 48px;
        height: 48px;
        background: url(../images/app_icon.png);
    }
    div:nth-of-type(3){
        width: 43px;
        height: 43px;
        background: url(../images/badge.png);
    }
    div:nth-of-type(4){
        width: 79px;
        height: 18px;
        background: url(../images/bright-star.png);
    }
    div:nth-of-type(5){
        width: 15px;
        height: 15px;
        background: url(../images/close2.png);
    }

    div:nth-of-type(11){
        width: 16px;
        height: 16px;
        background: url(../images/level_1_not_exists.png);
    }
    div:nth-of-type(12){
        width: 16px;
        height: 16px;
        background: url(http://www.qq.com/images/level_2.png);
    }
    div:nth-of-type(13){
        width: 16px;
        height: 16px;
        background: url(../images/level_3.png);
    }
    div:nth-of-type(14){
        width: 16px;
        height: 16px;
        background: url(../images/level_4.png);
    }
    div:nth-of-type(15){
        width: 16px;
        height: 16px;
        background: url(../images/level_5.png);
    }

    div:nth-of-type(16){
        width: 38px;
        height: 38px;
        background: url(../images/info.png);
    }
    div:nth-of-type(17){
        width: 13px;
        height: 11px;
        background: url(../images/open.png);
    }
    div:nth-of-type(18){
        width: 46px;
        height: 44px;
        background: url(../images/sina.png);
    }
    div:nth-of-type(19){
        width: 384px;
        height: 48px;
        background: url(../images/loading.png);
    }
    div:nth-of-type(20){
        width: 48px;
        height: 48px;
        background: url(../images/sina_logo.png);
    }
    div:nth-of-type(21){
        width: 15px;
        height: 12px;
        background: url(../images/speaker.png);
    }
    div:nth-of-type(22){
        width: 81px;
        height: 38px;
        background: url(../images/tips_icons.png);
    }
    div:nth-of-type(23){
        width: 48px;
        height: 48px;
        background: url(../images/sina_logo.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/txweibo_logo.png);
    }

    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/file_video.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/file_word.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/folder.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/folder_o.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/game.png);
    }
    div:nth-of-type(24){
        width: 48px;
        height: 48px;
        background: url(../images/game_o.png);
    }

}