.wrap{
    min-height: 44px;
    border: 1px solid #8A7676;
    margin: 20px;
    min-width: 10px;
    float: left;
}
.add-icon{
    color: #fff;
    width: 12px;
    height: 12px;
    background-image: url(../images/add.png);
    background-position: -10px -20px; }
.app_icon{
    background: url(../images/app_icon.png);
    background-position-x: -10px;
    background-position-y: -20px;  
}