body{
    background: #ddd;
}
div{
    min-height: 10px;
    border: 1px solid #8A7676;
    margin: 20px;
    min-width: 10px;
    float: left;
}
div:nth-of-type(1){
    width: 12px;
    height: 12px;
    background: url(../images/add.png);
}
div:nth-of-type(2){
    /* 没有指定宽高 */
    background: url(../images/app_icon.png);
}
div:nth-of-type(3){
    width: 43px;
    height: 43px;
    background: url(../images/badge.png);
}
div:nth-of-type(4){
    width: 15px;
    height: 18px;
    /* 已合并的图片 */
    background: url(../images/bright-star.png);
}
div:nth-of-type(5){
    width: 15px;
    height: 15px;
    background: url(../images/close2.png);
}

div:nth-of-type(6){
    width: 20px;
    height: 20px;
    background: url(../images/friends.png);
}
div:nth-of-type(7){
    width: 15px;
    height: 18px;
    /* 位置有偏移的, 已合并的图片 */
    background: url(../images/gray-star.png) -64px 0;
}
div:nth-of-type(8), div:nth-of-type(9), div:nth-of-type(10), div:nth-of-type(11),
        div:nth-of-type(12), div:nth-of-type(13){
    width: 16px;
    height: 16px;
}
div:nth-of-type(8){
    background: url(../images/level_0.png);
}
div:nth-of-type(9){
    background: url(../images/level_1.png);
}
div:nth-of-type(10){
    background: url(../images/level_2.png);
}
div:nth-of-type(11){
    background: url(../images/level_3.png);
}
div:nth-of-type(12){
    border: 1px dotted red;
    /* 网络的图片 */
    background: url(http://www.qq.com/cdn/images/level_4.png);
}
div:nth-of-type(13){
    border: 1px dotted red;
    /* 不存在的图片 */
    background: url(../images/level_5_no_exits.png);
}

div:nth-of-type(14){
    width: 38px;
    height: 38px;
    background: url(../images/info.png);
}
div:nth-of-type(15){
    width: 13px;
    height: 11px;
    background: blue url(../images/open.png);
}
div:nth-of-type(16){
    width: 46px;
    height: 44px;
    background: url(../images/sina.png);
}

div:nth-of-type(17){
    width: 48px;
    height: 48px;
    background: url(../images/txweibo_logo.png);
}
div:nth-of-type(18){
    width: 48px;
    height: 48px;
    background: url(../images/sina_logo.png);
}

div:nth-of-type(19){
    width: 48px;
    height: 48px;
    border: 1px dotted red;
    /* 重复的图片 */
    background: url(../images/sina_logo.png);
}
div:nth-of-type(20){
    width: 15px;
    height: 12px;
    background: url(../images/speaker.png);
}
div:nth-of-type(21){
    width: 40px;
    height: 38px;
    /* 位置有偏移的, 已合并的图片 */
    background: url(../images/tips_icons.png) -41px 0;
}
div:nth-of-type(22){
    width: 96px;
    height: 96px;
    /* gif 图片 */
    background: url(../images/play_icon.gif);
}