body{
    background: #ccc;
}

div{
    min-height: 10px;
    border: 1px solid #8A7676;
    margin: 20px;
    min-width: 10px;
    float: left;
}
@media screen{
    div:nth-of-type(1){
        width: 48px;
        height: 48px;
        background: url(../images/doc.png?t=123#unsprite);
    }
    div:nth-of-type(2){
        width: 48px;
        height: 48px;
        background: url(../images/game.png);
    }
    div:nth-of-type(2):hover{
        /* 没有指定宽高 */
        background: url(../images/game_o.png);
    }
    div:nth-of-type(3){
        width: 43px;
        height: 43px;
        background: url(../images/badge.png);
    }
    div:nth-of-type(4){
        width: 15px;
        height: 18px;
        /* 位置有偏移的, 已合并的图片 */
        background: url(../images/bright-star.png) -32px 0;
    }
}
div:nth-of-type(5){
    width: 48px !important;
    height: 48px !important;
    /* @FIXME 动画变更背景图片, 暂不支持 */
    -webkit-animation: forever 1s step-start infinite;
}
@-webkit-keyframes forever{
    0%{
        background: url(../images/doc.png);
    }
    50% {
        background: url(../images/doc_o.png);
    }
    100%{
        background: url(../images/doc.png);
    }
}
div:nth-of-type(6){
    width: 48px;
    height: 48px;
    background: url(../images/loading.png#unsprite);
    /* @FIXME 动画变更背景图片的位置, 暂不支持  */
    -webkit-animation: circle 1s step-end infinite;
}
@-webkit-keyframes circle{
    0%{
      background-position-x: 0;
    }
    12.5%{
      background-position-x: -48px;
    }
    25%{
      background-position-x: -96px;
    }
    37.5%{
      background-position-x: -144px;
    }
    50%{
      background-position-x: -192px;
    }
    62.5%{
      background-position-x: -240px;
    }
    75%{
      background-position-x: -288px;
    }
    87.5%{
      background-position-x: -336px;
    }
    100%{
      background-position-x: -384px;
    }
}
 
div:nth-of-type(7){
    width: 110px;
    height: 110px;
    background: url(../images/play_icon.png);
}
div:nth-of-type(8){
    width: 20px;
    height: 20px;
    background: url(../images/close.png) 0 -38px;
}
div:nth-of-type(9){
    width: 90px;
    height: 37px;
    background: url(../images/back_click.png);
}
div:nth-of-type(9):hover{
     /* 没有指定宽高 */
    background: url(../images/back_hover.png);
}
div:nth-of-type(9):active{
     /* 没有指定宽高, 重复的图片 */
    background: url(../images/back_click.png);
}
div:nth-of-type(10){
    width: 90px;
    height: 37px;
     /* 重复的图片 */
    background: url(../images/back_hover.png);
}
div:nth-of-type(11){
    width: 48px;
    height: 48px;
    background: url(../images/diskexplorer.png);
}

div:nth-of-type(12){
    width: 48px;
    height: 48px;
    background: url(../images/file_default.png);
}
div:nth-of-type(13){
    width: 48px;
    height: 48px;
    background: url(../images/file_image.png);
}
div:nth-of-type(14){
    width: 48px;
    height: 48px;
    background: url(../images/file_music.png);
}
div:nth-of-type(15){
    width: 48px;
    height: 48px;
    background: url(../images/file_pdf.png);
}
div:nth-of-type(16){
    width: 48px;
    height: 48px;
    background: url(../images/file_txt.png);
}
div:nth-of-type(17){
    width: 48px;
    height: 48px;
    background: url(../images/file_word.png);
}
div:nth-of-type(18){
    width: 48px;
    height: 48px;
    background: url(../images/file_video.png);
}
div:nth-of-type(19){
    width: 48px;
    height: 48px;
    background: url(../images/file_ppt.png);
}
div:nth-of-type(20){
    width: 38px;
    height: 38px;
    background: url(../images/tips_icons.png);
}