body {background: #ddd;}
div {min-height: 10px; border: 1px solid #339; margin: 20px; min-width: 10px;}
div:nth-of-type(1) {width: 12px; height: 12px; background: url(../images/sprite_style_1.png) -190px -79px;}
div:nth-of-type(2) {width: 48px; height: 48px; background: url(../images/sprite_style_1.png) 0 -53px;}
div:nth-of-type(3) {width: 43px; height: 43px; background: url(../images/sprite_style_0.png) -51px -202px;}
div:nth-of-type(4) {width: 79px; height: 18px; background: url(../images/sprite_style_1.png) 0 -159px;}
div:nth-of-type(5) {width: 15px; height: 15px; background: url(../images/sprite_style_1.png) -190px -42px;}
div:nth-of-type(11) {width: 16px; height: 16px; background-image: url(../images/level_1_not_exists.png);}
div:nth-of-type(12) {width: 16px; height: 16px; background-image: url(http://www.qq.com/images/level_2.png);}
div:nth-of-type(13) {width: 16px; height: 16px; background: url(../images/sprite_style_1.png) -159px -127px;}
div:nth-of-type(14) {width: 16px; height: 16px; background: url(../images/sprite_style_1.png) -159px -106px;}
div:nth-of-type(15) {width: 16px; height: 16px; background: url(../images/sprite_style_1.png) -159px -78px;}
div:nth-of-type(16) {width: 38px; height: 38px; background: url(../images/sprite_style_0.png) -245px -159px;}
div:nth-of-type(17) {width: 13px; height: 11px; background: url(../images/sprite_style_1.png) -190px -96px;}
div:nth-of-type(18) {width: 46px; height: 44px; background: url(../images/sprite_style_0.png) 0 -202px;}
div:nth-of-type(19) {width: 384px; height: 48px; background: url(../images/sprite_style2.png) 0 0;}
div:nth-of-type(20) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -139px 0;}
div:nth-of-type(21) {width: 15px; height: 12px; background: url(../images/sprite_style_1.png) -190px -62px;}
div:nth-of-type(22) {width: 81px; height: 38px; background: url(../images/sprite_style_0.png) 0 0;}
div:nth-of-type(23) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -139px 0;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) 0 -149px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_1.png) -53px -106px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -53px -149px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -245px -53px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -86px 0;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -192px -53px;}
div:nth-of-type(24) {width: 48px; height: 48px; background: url(../images/sprite_style_0.png) -106px -149px;}
